<nav>
  <a href="/"><img class="logo" src="img/google.png" alt="Google logo"></a>
  <form action="/results" method="POST">
    <input type="search" name="search" />
    <button type="submit">Search</button>
  </form>
</nav>


{{#if results.length}}
<div class="research">
  <small>{{results.length}} Results</small>
</div>
{{else}}
<div class="research">
  <small>0 Result</small>
</div>
<div class="result">
  <p>No results for these page</p>
</div>

{{/if}}
</div>
{{#each results as |result|}}
{{>results result=result}}
{{/each}}