
  <nav>
    <img class="logo" src="./images/google.png" alt="Google logo">
    <form action="/" method="POST">
      <input type="search" name="search" />
      <button type="submit">Search</button>
    </form>
  </nav>
  <div class="research">
    <small>37 Results</small>
  </div>
  <div class="result">
    <small>ww3.schools.com</small>
    <h2><a href="">JavaScript Tutorial - W3School</a></h2>
    <p>Well organized and easy to understand Web building tutorials
      of examples of how to use HTML, CSS, JavaScript, ...</p>
    <ul>
      <li><a href="">JavaScript Introduction</a></li>
      <li><a href="">JS Functions</a></li>
      <li><a href="">JavaScript Examples</a></li>
    </ul>
  </div>
  <div class="result">
    <small> developer.mozilla.org</small>
    <h2><a href="">JavaScript | MDN</a></h2>
    <p>JavaScript is a lightweight, interpreted, or just-in-time
      compiled programming language with first-class functions</p>
    <ul>
      <li><a href="">JavaScript Operator</a></li>
      <li><a href="">JavaScript Code</a></li>
      <li><a href="">JavaScript Meaning </a></li>
    </ul>
  </div>
  <div class="result">
    <small> en.wikipedia.org</small>
    <h2><a href="">JavaScript - Wikipedia</a></h2>
    <p>JavaScript is often abbreviated as JS, is a programming
      language that conforms to the ECMAScript specification</p>
    <ul>
      <li><a href="">JavaScript Online</a></li>
      <li><a href="">JavaScript Definition</a></li>
    </ul>
  </div>
