<div class="searchpage">
  <img src="img/google.png" class="logo" alt="Google logo">
  <form action="/results" method="POST">
    <input type="search" name="search" />
    <button type="submit">Search</button>
  </form>
</div>