
  <div class="searchpage">
    <img src="./images/google.png" class="logo" alt="Google logo">
    <form action="/" method="POST">
      <input type="search" name="search" />
      <button type="submit">Search</button>
    </form>
  </div>
